@import '../../../Themes/theme';
@import '../../../Themes/colors';
@import '../../../Themes/sizes';
.navbar {
    padding: $base-gap 2*$big-gap;
    background-color: $white;
    .logo-link {
        padding: 0px;
        .name-title {
            font-weight: bold;
            font-size: $heading-font;
        }
    }
    .nav-link-wrapper {
        .nav-link {
            padding: 0px;
        }
        .normal-links {
            .nav-link {
                padding-right: $big-gap;
            }
            .last-link {
                border-right: 1px solid $darkgrey;
            }
        }
        .login-link {
            padding: 0px $big-gap;
        }
        .profile-link {
            padding: 0px;
            padding-left: $big-gap;
            text-align: center;
            span {
                line-height: $button-height;
            }
        }
        .dropdown {
            .dropdown-menu {
                padding: 0px;
                .dropdown-item:active {
                    background-color: $primary-green;
                }
            }
        }
    }
}

@media screen and (max-width: $sm-break) {
    .navbar {
        padding: $base-gap $big-gap;
        .nav-link-wrapper {
            .normal-links {
                .nav-link {
                    padding: 0px;
                    padding-bottom: $double-gap;
                }
                .last-link {
                    border-right: none;
                }
            }
            .login-link {
                padding: 0px 0px $big-gap 0px;
            }
            .profile-link {
                padding: 0px;
            }
        }
    }
}