// UI colors
$footer-background: rgba(0, 0, 0, 0.8);
$facebook: blue;
// Colors
$primary-green: #6DC789;
$red: red;
$white: #fff;
$black: #000;
$grey: grey;
$darkgrey: darkgrey;
$lightgrey: rgba(0, 0, 0, 0.1);