// Screen break pixels
$sm-break: 576px;
$md-break: 768px;
$lg-break: 992px;
$xl-break: 1200px;
// Font Sizes
$smallest-font: 8px;
$smaller-font: 10px;
$small-font: 12px;
$normal-font: 14px;
$big-font: 16px;
$bigger-font: 18px;
$heading-font: 20px;
$large-font: 22px;
$largest-font: 25px;
// Radius
$normal-radius: 2px;
// Margin and Paddings
$small-gap: 5px;
$base-gap: 10px;
$medium-gap: 15px;
$double-gap: 20px;
$big-gap: 30px;
$bigger-gap: 40px;
// Logo/Image Dimensions
$small-size: 25px;
$normal-size: 50px;
$large-size: 100px;
$largest-size: 200px;
// Dimensions
$small-width: 20px;
$normal-width: 30px;
$large-width: 50px;
// UI sizes
$tab-height: 40px;
$button-height: 35px;
$input-height: 35px;